<section class="section">
    <section>
        <h1>Popular Posts</h1>
        {% for popular in popularPosts %}
           <div><a href="{{ path('show_post_page', { 'id': popular.id }) }}"> {{ popular.title }} </a></div>
        {% endfor %}
    </section>
    <section>
        <h1>Last Posts</h1>
        {% for last in lastPosts %}
            <div><a href="{{ path('show_post_page', { 'id': last.id }) }}"> {{ last.title }} </a></div>
        {% endfor %}
    </section>
    <section>
        <header>
            <h3>Tag Cloud</h3>
        </header>
        <div class="tags">
            {% for tag, weight in tags %}
            <span class="weight-{{ weight }}">{{ tag }}</span>
            {% else %}
        <p>There are no tags</p>
        {% endfor %}
        </div>
    </section>
</section>