{% extends 'BlogBlogBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Add comment for post "{{ comment.post.title }}"</h1>
    </div>
    <div class="container">
        {{ form_start(form, { 'action': path('comment_page', { 'post_id' : comment.post.id }) }) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-4">
                {{ form_widget(form.user) }}
            </div>
            <div class="col-md-8">
                {{ form_widget(form.comment) }}
            </div>
            {#{{ form_widget(form.createdAt) }}#}
            <div class="col-md-8">
                {{ form_widget(form.submit) }}
            </div>
        {{ form_rest(form) }}
        </div>
    </div>
{% endblock %}
