{% extends 'BlogBlogBundle::layout.html.twig' %}

{#{% block body %}#}
{#{{ parent() }}#}
{#{% block body %}#}
    {#{{ parent() }}#}
    {% block content %}
    {#<div class="container">#}
        {#<div class="col-md-10">#}
        {% for post in posts %}
            <article class="post">
                <h2>{{ post.title }}</h2>
                <div class="date">
                    <time datetime="{{ post.createdAt|date('c') }}">{{ post.createdAt|date('l, F j, Y') }}
                    </time>
                </div>

                <img src="{{ asset(['images/', post.image]|join) }}" alt="{{ post.title }} image not found" class="large" />
                <div>
                    <p>{{ post.post|truncate(200, '...') }}</p>
                </div>

                <div class="snippet">
                    <p class="continue">
                        <a href="{{ path('show_post_page', { 'id': post.id }) }}">Continue...</a>
                    </p>
                </div>

                <footer class="meta">
                    <p>Posted by <span class="highlight">{{ post.author }}</span> at {{ post.createdAt|date('h:iA') }}</p>
                    <p>Tags: <span class="highlight">{{ post.tags }}</span></p>
                    <p>Category: <a href="{{ path('post_show_by_category', { 'slug': post.category.slug }) }}">
                        {{ post.category.title }}
                    </a>
                    </p>
                </footer>
            </article>
        {% else %}
            <p>There are no posts((</p>
        {% endfor %}
        {#</div>#}
    {#</div>#}
    {% endblock %}

    {% block sidebar %}
        {{ render(controller('BlogBlogBundle:Default:sidebar')) }}
    {% endblock %}
{#{% endblock %}#}


{#{% block footer %}#}
    {#{% if posts.haveToPaginate %}#}
        {#{{ pagerfanta(posts) }}#}

    {#{% endif %}#}

{#{% endblock footer %}#}
